.heading{
    display: flex;
    justify-content: center;
}

body{
    background-color: rgb(240, 230, 218);
}
.search{
    display: flex;
}
#input{
    flex: 1;
    padding: 10px;
    font-size: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #d0ecd3;
    margin: 10px;
    width: 500px;
    opacity: 0;
    border: 2px solid rgb(77, 124, 243);
   }
img{
    align-self: center;
    padding: 20px;
    height: 300px;
    width: 430px;
}
.parks{
    align-self: center;
    flex-wrap: wrap;
    font-size: 25px;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}

@media all and (max-width: 800px){
    .card{
        width: 100%; 
    }
    img{
        height: auto;
        width: 80%;
    }
    h1{
        font-size: 35px;
    }
}

@media all and (max-width: 500px){
    h1{
        font-size: 25px;
    }
    .parks{
        font-size: 15px;
    }
}
